<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}" />
    <title>Linear Equation Solver</title>
  </head>
  <body>
    <h1>Linear Equation Solver</h1>
    <form action="/solve" method="post">
      <label for="size">Number of unknowns:</label>
      <input type="number" name="size" required />
      <br />
      <label for="method">Choose a method:</label>
      <select name="method" required>
        <option value="1">Cramer's Rule</option>
        <option value="2">Matrix Inversion</option>
        <option value="3">Row Equivalent</option>
      </select>
      <button type="submit">Solve</button>
    </form>
  </body>
</html>
